<h1>List of News</h1>

<a href="{{ path('news_add') }}">Add News</a>
</hr>
<ul>
    {% for newsItem in news %}
        <li><a href="{{ path('news_view', { 'identifier': newsItem.identifier }) }}">{{ newsItem.getTitle }}</a></li>
    {% endfor %}
</ul>
